# Backend
Backend/target/
Backend/.idea/
Backend/*.iml
Backend/src/main/resources/application.properties

# Frontend
Frontend/yoursenior-frontend/node_modules/
Frontend/yoursenior-frontend/dist/

# General
.DS_Store